@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body{
    background-color:black
}
div#misvg{
    position: absolute;
    min-width: 98%;
    left:0px;
    top:6px;
}

.areas{
    opacity:0;
}
.areas:hover{
    opacity: 1;
}


h1{
    color:white;
    font-family: 'Syne Mono', monospace;
    font-size: 25px;
}

p{
    color:white;
    font-family: 'Syne Mono', monospace;
    font-size: 20px;
}
div#maintext{
    position:absolute;
    top:20px;
    left:50px;

}
.caja{
    font-family: 'Syne Mono', monospace;
    font-size: 40px;
    font-weight: 400; 
    color: black; 
    background:lightblue;
    padding: 10px;
    border-radius: 10px;

}
div#call{
    position:absolute;
    top:480px;
    left:231px;
}
img#threepen{
    position:absolute;
    top:330px;
    left:50px;
}

